@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		@if type-of($map) != "map" {
			@warn '`#{$map}` is not a map.';
			@return false;
		}
		$map: map-get($map, $key);
	}

	@return $map;
}

@mixin font($group, $variant: regular, $font-stack: $fonts) {
	$font-properties: map-deep-get($font-stack, $group, $variant);
	@if $font-properties {
		@each $property, $values in $font-properties {
			#{$property}: map-get($font-properties, $property);
		}
	}
}