.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.underline { 
	text-decoration: underline;
}

.preserve-breaks {
	white-space: pre-wrap;
}

// .web-only { 
// 	display: flex; 
// }

.print-only { 
	display: none; 
}

@media print {
	.web-only { 
		display: none !important; 
	}

	.print-only { 
		display: block; 
	}
}