section {
	display: flex;
	position: relative;
	margin-bottom: 1.5rem;
	padding: 1rem;
	border-radius: 5px;
	border: 3px solid transparent;
	text-align: justify;
	box-decoration-break: clone;
	
	@media print {
		break-before: avoid-page;
		page-break-inside: avoid;
		margin-bottom: 0.5cm;
	}

	&, p, h2 {
		font-size: 0.8rem;
	}

	a {
		color: $text-dark;
	}

	input[type=text],
	input[type=date],
	input[type=number],
	textarea {
		@include font(body, normal);

		width: 100%;
		min-width: 0;
		max-width: max-content;
		border: 0; 
		font-size: inherit;
		background-color: $lightest; 
		border-radius: 5px;
		padding: 5px 10px;
		transition: all .2s;
	}

	textarea {
		max-width: 100%; 
	}

	.index {
		flex: 0 0 40px;
		margin-right: 1rem;

		.block-number {
			@include font(heading, black);

			display: inline-block;
			padding: 0.25rem 0.7rem; 
			width: 100%; 
			background-color: $secondary;
			border-radius: 100%;
			font-size: 2rem; 
			line-height: 2rem; 
			color: $lightest;
			text-align: center;
		}
	}

	.content {
		flex-grow: 1;

		.title {
			@include font(heading, black);
			margin: 0 0 10px 0;
			text-transform: uppercase;
			
			&.inline {
				display: inline-block;
			}
	
			.subtitle {
				@include font(heading, normal);
			}
		}
	
		.body.columns {
			display: flex; 

			& > * {
				width: 50%;
			}

			.filled {
				margin-right: 1rem; 
			}
		}

		p {
			margin: 0;
			padding: 0.3rem 0 0.2rem;
		}

		.bold {
			@include font(body, bold);
		}

		.italic {
			@include font(body, italic);
		}

		.filled {
			padding: 0.5rem 1rem;
			border-radius: 5px;
			background-color: transparentize($secondary, 0.9);
			// border-bottom: 1px solid $darker;
			// color: $pullout;
			font-size: 1rem;
			text-align: left;

			&.disabled {
				color: $text-dark;
			}

			& > * {
				margin-right: 5px;

				&:last-of-type { 
					margin-right: 0; 
				}
			}
		}
	}

	table {
		@include font(heading, normal);
		width: 100%;
		padding: 0; 
		margin-top: 1rem;
		border-spacing: 0;
		text-align: left;

		tr {
			position: relative;
		}

		td { 
			padding: 0.5rem 2px; 
		}

		// all columns except the first two are left aligned
		tr td:nth-of-type(n+3) {
			text-align: right;
		}

		thead {
			td {
				@include font(heading, black);
				border-bottom: 2px solid transparentize($secondary, 0.6); 
				color: $darkest;
				text-transform: uppercase;
			}

			.name {
				min-width: 100px;
			}
		}
		
		input[type=text],
		input[type=number] {
			@include font(heading, normal);
		}
		
		input[type=date] {
			@include font(heading, black);
			color: $darkest;
		}
	}

	.prompt {
		@include font(heading, normal);
		padding: 1rem;
		font-size: 0.7rem;
		text-align: left;
		background-color: transparentize($warning, 0.8);
		border: 3px solid transparent;
		border-radius: 5px;
		transition: all .2s;

		&:hover {
			border-color: transparentize($warning, 0.7);
			box-shadow: transparentize($darkest, 0.9) 0 0 10px;
		}
		
		@media print {
			page-break-inside: avoid;
			padding: 0;
		}
		
		&.signature {
			position: relative;
			height: 100px;
			cursor: crosshair;

			@media print {
				border: 2px solid $text-dark;
			}

			img {
				width: 100%;
			}

			.label {
				@include font(heading, black);
				position: absolute;
				top: 5px;
				left: 10px;
				text-transform: uppercase;
				font-size: 0.8rem;
			}

			.date {
				@include font(heading, normal);
				position: absolute;
				top: 5px;
				right: 10px;
				text-transform: uppercase;
				font-size: 0.7rem;
			}
		}

		&.disabled {
			background-color: $mid;
		}

		.action {
			position: absolute;
			top: 8px;
			right: 0;

			@media print {
				display: none;
			}

			button {
				background: none;
				border: none;
				cursor: pointer;
			}

		}

		.sig-canvas {
			width: 365px;
			height: 100px;
		}
	}

	&.editable { 
		cursor: pointer;

		&, * {
			transition: border-color .2s, background-color .2s, box-shadow .2s;
		}

		&:hover {
			border-color: $primary;
			box-shadow: transparentize($darkest, 0.8) 0 0 20px;

			.block-number {
				background-color: $primary;
			}
		}
	}

	&.editing {
		border-color: $primary;
		background-color: transparentize($primary, 0.8);
		box-shadow: transparentize($darkest, 0.8) 0 0 20px;

		.filled {
			display: flex; 
			background-color: transparent;
			padding: 0;
		}

		table tbody td.rate {
			display: flex;

			input:first-of-type {
				margin-right: 4px;
			}
		}

		table tbody tr.active input {
			background-color: transparentize($error, 0.7);
		}

		.menu {
			position: absolute;
			right: 15px;
			top: -25px;

			button {
				width: 50px;
				height: 50px;
				border: 0;
				border-radius: 100%;
				background-color: $primary;
				color: $lightest;
				cursor: pointer;
				transition: all .2s;

				&:hover {
					background-color: darken($primary, 10);
				}
			}

			.cancel {
				margin-left: 10px;
				background-color: $secondary;

				&:hover {
					background-color: darken($secondary, 10);
				}
			}
		}

		.remove,
		.add {
			position: absolute;
			top: 10px;
			right: -50px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			color: $lightest;
			border-radius: 100%;
			border: 0;
			width: 20px;
			height: 20px;
			text-align: center;
			cursor: pointer;
			transition: all .2s;
		}

		.remove {		
			background-color: $error;
			&:hover {
				background-color: darken($error, 10);
			}
		}

		.add {		
			background-color: $success;
			&:hover {
				background-color: darken($success, 10);
			}
		}

		.block-number {
			background-color: $primary;
		}
	}
}