html, body {
	margin: 0; 
	padding: 0; 
}

#editable-contracts {
	@import 'header';
	@import 'footer';
	@import 'nav';
	@import 'section';

	position: relative;
	padding-bottom: 100px;

	.container {
		width: 800px;
		margin: 0 auto;
		@include font(body, normal);

		@media print {
			width: 100%;
		}
	}

	main {
		padding: 3rem 0 2rem;
	}

	#submit {
		text-align: center; 

		@media print {
			display: none;
		}

		button {
			@include font(heading, black);
			position: relative;
			margin: 0 auto;
			border: 3px solid transparent;
			border-radius: 5px;
			background-color: $primary;
			padding: 0.8rem 2rem;
			color: $lightest;
			text-transform: uppercase;
			font-size: 1rem;
			transition: all ease-in-out 0.2s;
			cursor: pointer;

			&:hover {
				border-color: darken($primary, 20);
				background-color: darken($primary, 10);
				box-shadow: transparentize($darkest, 0.8) 0 0 10px;
			}

			&[disabled] {
				border-color: transparent;
				background-color: $lighter;
				box-shadow: none;
				cursor: not-allowed;
			}

			&[disabled].sent {
				background-color: $success;
				cursor: auto;
			}
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: flex;
			justify-content: center;
			background-color: $primary;

			img {
				align-self: center;
				height: 80%;
			}
		}
	}

	.notice {
		@include font(heading, black);
		width: 100%;
		padding: 1rem;
		background-color: $light;
		text-transform: uppercase;
		font-size: 1rem;
		text-align: center;
	}
}