// Neutrals
$lightest: #FDFDFD;
$lighter: #DADEDE;
$light: #B7BFBF;
$mid: #949DA0; 
$dark: #727A81;
$darker: #4F5662;
$darkest: #2d3142;

// Text
$text: #4F5662;
$text-dark: #000000;

// Special
$primary : #ef8354;
$secondary : #4f5d75;
$info: #8bccdc;
$warning: #fdcb27;
$success: #7ddc48;
$error: #fc4a47;

// Fonts
$fonts: (
	body: (
		normal: (
			font-family: ("Lora", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif),
			font-weight: 400,
			font-style: normal
		),
		bold: (
			font-family: ("Lora", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif),
			font-weight: 700,
			font-style: normal
		),
		upper: (
			font-family: ("Lora", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif),
			font-weight: 400,
			font-style: normal,
			text-transform: uppercase
		),
		upper-bold: (
			font-family: ("Lora", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif),
			font-weight: 700,
			font-style: normal,
			text-transform: uppercase
		)
	),
	heading: (
		normal: (
			font-family: ("Work Sans", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif),
			font-weight: 300,
			font-style: normal
		),
		black: (
			font-family: ("Work Sans", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif),
			font-weight: 700,
			font-style: normal
		)
	),
	button: (
		medium: (
			font-family: ("Work Sans", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif),
			font-weight: 300,
			font-style: normal
		),
		black: (
			font-family: ("Work Sans", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif),
			font-weight: 700,
			font-style: normal
		)
	),
	footer: (
		italic: (
			font-family: ("Work Sans", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif),
			font-weight: 300,
			font-style: italic
		)
	),
);