// libraries
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Work+Sans:300,300i,700&display=swap');
@import "../../node_modules/react-datepicker/dist/react-datepicker.css";

@import "functions";
@import "helpers";
@import "variables";
@import "templates";

// global styles 
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0; 
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
}

.full-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media print {
	@page {
		margin: 2cm 1cm; // margin for each printed piece of paper
	}

	@page :first {
		margin: 0cm 1cm 1cm; // top margin for first page of paper
	}
}